<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>675702080203-h4eloeqju7t4nmtj0nud0cmj1f9s1vbm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.675702080203-h4eloeqju7t4nmtj0nud0cmj1f9s1vbm</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>675702080203-rr6boo4ftpfcsh0coclur8sadkukanve.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCAPK3rzZj8VrdmH4tzuTXs4B5L5Sffmyo</string>
	<key>GCM_SENDER_ID</key>
	<string>675702080203</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>us.macrotechsolutions.hfascadets</string>
	<key>PROJECT_ID</key>
	<string>hfas-cadets</string>
	<key>STORAGE_BUCKET</key>
	<string>hfas-cadets.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:675702080203:ios:c5562c69408f1208f0914e</string>
	<key>DATABASE_URL</key>
	<string>https://hfas-cadets.firebaseio.com</string>
</dict>
</plist>